<div class="container" style="padding-top: 50px;">

    <h1 style="text-align:center;">Welcome to the Infinity Explorer!</h1>
    <h3 style="text-align:center;">Transactions</h3>
    <table class="table table-striped" cellpadding="0" cellspacing="0" style="padding:0px;float:left;margin:0px;width:100%; margin-bottom:30px;">
        <tbody>
            <tr>
                <th>Tx Hash #</th>
                <th>Block</th>
                <th>Age</th>
                <th>From</th>
                <th>To</th>
                <th>Status</th>
            </tr>
            <tr data-ng-repeat="tx in transactionsList">
                <td style=" width:20%;word-break: break-all"><a href="/#/transaction/{{tx.hash}}">{{tx.hash}}</a></td>
                <td style=" width:5%;word-break: break-all">{{tx.blockNumber}}</td>
                <td style=" width:5%;word-break: break-all">{{tx.age}}s</td>
                <td style=" width:20%;word-break: break-all">{{tx.from}}</td>
                <td style=" width:20%;word-break: break-all">{{tx.to}}</td>
                <td style=" width:5%;word-break: break-all">{{tx.status}}</td>
            </tr>

        </tbody>
    </table>

    <h3 style="text-align:center; line-height:60px;">Blocks</h3>
    <table class="table table-striped" cellpadding="0" cellspacing="0" style="padding:0px;float:left;margin:0px;width:100%">
        <tbody>
            <tr>
                <th>Block #</th>
                <th>Tx #</th>
                <th>Size</th>
                <th>Timestamp</th>
            </tr>
            <tr data-ng-repeat="i in blocks">
                <td><a href="/#/block/{{i.number}}">{{i.number}}</a></td>
                <td>{{i.txNum}}</td>
                <td>{{i.size}}</td>
                <td>{{i.time}}</td>
            </tr>

        </tbody>
    </table>



</div>
