<div class="container" style="padding-top: 50px;">

    <h1 style="text-align:center;">Transactions</h1>

    <table class="table table-striped" cellpadding="0" cellspacing="0" style="padding:0px;float:left;margin:0px;width:100%">
        <tbody>
            <tr>
                <th>Tx Hash #</th>
                <th>Block</th>
                <th>Age</th>
                <th>From</th>
                <th>To</th>
                <th>Status</th>
            </tr>
            <tr data-ng-repeat="tx in transactionsList">
            <tr data-ng-repeat="tx in transactionsList">
                <td style=" width:20%;word-break: break-all"><a href="/#/transaction/{{tx.hash}}">{{tx.hash}}</a></td>
                <td style=" width:5%;word-break: break-all">{{tx.blockNumber}}</td>
                <td style=" width:5%;word-break: break-all">{{tx.age}}days</td>
                <td style=" width:20%;word-break: break-all">{{tx.from}}</td>
                <td style=" width:20%;word-break: break-all">{{tx.to}}</td>
                <td style=" width:5%;word-break: break-all">{{tx.status}}</td>
            </tr>
            </tr>
        </tbody>
    </table>




</div>
